:root {
  --heading-font: "Roboto", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --primary-colour: #142d4c;
}
html {
  min-height: 100%;
}
body {
  text-align: center;
}

h1,
h2,
footer {
  font-family: var(--heading-font);
  font-weight: 400;
}
h1 {
  font-size: 60px;
}
h3,
h5,
p {
  font-family: var(--body-font);
}
h3,
h5 {
  color: #142d4c;
  font-size: 30px;
  font-weight: normal;
}
footer {
  background: #142d4c;
  color: white;
}
.nav-custom {
  background-color: #142d4c;
}
.text-over-image {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.text-over {
  position: relative;
}
.container {
  max-width: 800px;
}

.navigation-links {
  text-align: center;
  color: white;
  font-family: var(--body-font);
}
.page-links {
  background: #142d4c;
}
.paragraph-headings {
  font-size: 20px;
  font-weight: 600;
  color: #142d4c;
}

.info-paragraphs {
  line-height: 1.5;
  font-size: 15px;
  color: #142d4c;
  margin: 0;
}
.photo {
  padding: 0;
}

.learn-more {
  font-family: var(--body-font);
  background: #142d4c;
}
.additional-page-heading {
  color: white;
  line-height: 2;
  background: #142d4c;
}
.newsletter {
  color: #142d4c;
  max-width: 400px;
}

.social-icons {
  color: white;
}

.email {
  color: white;
  text-decoration: none;
}

.contact-form {
  color: #142d4c;
  font-size: 15px;
  font-family: var(--body-font);
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 21px;
  }
  h3,
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 23px;
    font-weight: bolder;
  }
  p {
    font-size: 13px;
    padding-bottom: 5px;
  }
  .paragraph-headings {
    font-size: 16px;
  }
  .page-links,
  .learn-more {
    font-size: 12px;
    padding: 10px;
  }
}
