html {
  min-height: 100%;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
h2 {
  text-align: center;
  color: #142d4c;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: thin;
}
h3 {
  text-align: center;
  color: #142d4c;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: thin;
}
.text-over-image {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container {
  max-width: 800px;
  text-align: center;
}
.text-over {
  position: relative;
}
.navigation-links {
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.page-links {
  background: #142d4c;
}
.paragraph-headings {
  font-size: 20px;
  font-weight: 600;
  color: #142d4c;
}

.info-paragraphs {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #142d4c;
  margin: 0;
}
.photo {
  padding: 0;
}

.learn-more {
  font-family: "Open Sans", sans-serif;
  background: #142d4c;
}
.additional-page-heading {
  margin-top: 100px;
  color: #142d4c;
  line-height: 2;
}
.mission {
  text-align: center;
  color: #142d4c;
  margin: 70px 300px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  .paragraph-headings {
    font-size: 25px;
  }
  .page-links,
  .learn-more {
    font-size: 12px;
    padding: 10px;
  }
  .info-paragraphs {
    font-size: 13px;
  }
}
